@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-size: 900px;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:#111f2a;
}
header{
    height:170px;
}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:500px;
    height:80px;
    background-color:#EDEDE3;
    left: 800px;
    border-bottom: 2px solid #5E5341;
    border-radius: 35px;
    margin:none;


}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    right:20px;
    width:57%;



}
nav#menu1 li{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 23px;
    padding-right: 20px;
}

nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
}

.menu li ul{
    position: absolute;
    display: none;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    top:78px;
    height: 40px;
    width: fit-content;
    border: 1px solid #5E5341;
    border-radius: 2px;
}
.menu li:hover ul, .menu li.over ul{
    display: block;
   
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom:8px;
    right:40px;
    
}


.opt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#5E5341;
}

.menu a:hover{
    color:green;
}

hr#hr{
    position: relative;
    width:850px;
    bottom:300px;
    opacity: 80%;
    color:#EDEDE3;
}



header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    position: relative;
    width:40px;
    top:75px;
    z-index: 2;
    background: transparent;
    

}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    z-index: 2;
}
section#func{
    display: block;
    padding-left:6%;
    margin-left: 6%;
    margin-right: 2%;
    margin-top:0%;
    border-radius: 30px;
    width:600px;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color:#5E5341;
    z-index: 2;



}

.inputs{
    width:10%;
    border:none;
    margin:5px;
    border-radius:3px;
    background-color: #BBAF8D;
    text-align: center;
    color:white;
}
.labels{
    font-weight: bolder;
    color:#5E5341;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table#tables{
    position: relative;
    top:50px;
    left:0px;

}
table#tableshannon{
    position: relative;
    top:0px;
    left:0px;
    border: 1px solid #5E5341;
    color:#5E5341;


}

.buttonsh{
    border: none;
    background-color: #CCB78C;
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-weight: bolder;

}
.buttonsh:hover{
    background-color: #ffffff;
    color:#5E5341;
    border: #5E5341 1px solid;

}

button#register{
    position: relative;
    top:7px;
    left:20px;
}
table#tableshannon tr td{
    border: 1px solid #5E5341;
    color:#5E5341;
}

div#demo{
    width:559px;
}
aside#left{
    width: 300px;
    display:block;
    left:12px;
    bottom:485px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color:#5E5341;
    height: fit-content;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid  #308a0c;
    border-top: 1px solid #308a0c;
    border-bottom:1px solid #308a0c;
    font-size: 10pt;

}
aside#left h1{
    text-align: center;

}
aside#left p{
    text-align: justify;
    width:285px;
    left:5px;
    font-size: 12pt;
}
aside#right{
    color:#5E5341;
    width:300px;
    height:fit-content;
    display: block;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    border-left: 1px solid #308a0c;
    border-top: 1px solid #308a0c;
    border-bottom:1px solid #308a0c;


}

.inputsh{
    border-radius: 3px;
    border: none    ;
    background-color: #BBAF8D;
    color: white;
    text-align: center;
}
aside#right h1{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    left:115px;
   
   
}

aside#right picture{
 
     top:50px;
    
}

aside#right h2, p{


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    font-size: 12pt;
    top:30px;

}

div#divp{
    display: flex;
}

table#tableshannon{
    border: 1px solid #5E5341;
    border-radius: 2px;
}
table#tableshannon tr td{
     border: 1px solid #5E5341;
     color:#5E5341;
     text-align: center;
     border-radius: 2px;

}

button#register{
    display: flex;
    margin-left: 30%;
    margin-top:-41px;
}
div#linha1{
    width:598px;
    border-top: 1px solid #308a0c;
    position: relative;
    top: 70px;
    height:900px;
    border-left:1px solid #308a0c;
}
div#linha2{
    width:596px;
    border-top: 1px solid #308a0c;
    position: relative;
    bottom:829px;
    left:2px;
    height: 168px;
    border-left:1px solid #308a0c;
 
}

div#linha2 h1{
    position: relative;
    color:#5E5341;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    bottom:12px;
    left:10px;

}

