@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-size: 900px;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:#111f2a;
}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:500px;
    height:80px;
    background-color:transparent;
    z-index: 2;
    left: 800px;
    border-bottom: 2px solid #5E5341;
    border-radius: 60px;
 
    
}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    right:20px;

}
nav#menu1 li{
    display: inline-block;
    padding:8px;
    margin-top:15px;

}

nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
    font-weight: bolder;
}

.menu li ul{
    position: absolute;
    display: none;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;   
}
.menu li:hover ul, .menu li.over ul{
    display: block;
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom:8px;
    font-weight: normal;
    right:40px;
}


.opt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#5E5341;
    font-weight: lighter;
}



header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    width:40px;
    position: relative;
    top:70px;
    left:820px; 

}
img#leaf2{
    width:40px;
    position: relative;
    top:70px;
    left:1170px; 

}
section#func{
    display: block;
    padding-left:6%;
    margin-left: 6%;
    margin-right: 2%;
    margin-top:0%;
    border-radius: 30px;
    width:600px;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color:#5E5341;



}

.inputs{
    width:10%;
    border:none;
    margin:5px;
    border-radius:3px;
    background-color: #BBAF8D;
    text-align: center;
    color:white;
}
.labels{
    font-weight: bolder;
    color:#5E5341;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table#tables{
    position: relative;
    top:50px;
    left:0px;

}
table#tableshannon{
    position: relative;
    top:0px;
    left:0px;
    border: 1px solid #5E5341;
    color:#5E5341;


}

.buttonsh{
    border: none;
    background-color: #CCB78C;
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-weight: bolder;

}
.buttonsh:hover{
    background-color: #ffffff;
    color:#5E5341;
    border: #5E5341 1px solid;

}

button#register{
    position: relative;
    top:7px;
    left:20px;
}
table#tableshannon tr td{
    border: 1px solid #5E5341;
    color:#5E5341;
}

div#demo{
    width:559px;
}
aside#left{
    width: 300px;
    display:block;
    left:10px;
    bottom:485px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color:#5E5341;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #5E5341;
    border-radius: 5px;
    border-top: 1px solid #5E5341;
    border-bottom:1px solid #5E5341;
    font-size: 10pt;
}
aside#left h1{
    text-align: center;

}
aside#left p{
    text-align: justify;
    width:285px;
    left:5px;
    font-size: 12pt;
}
aside#right{
    color:#5E5341;
    width:300px;
    height:fit-content;
    left:1100px;
    bottom: 810px;
    background-color: transparent;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #5E5341;
    border-top: 1px solid #5E5341;
    border-bottom:1px solid #5E5341;


}

.inputsh{
    border-radius: 3px;
    border: none    ;
    background-color: #BBAF8D;
    color: white;
    text-align: center;
}
aside#right h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    margin-left: 35%;
   
}

aside#right picture{
    margin-left: 25%;
}

aside#right h2, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    font-size: 12pt;

}

div#divp{
    display: flex;
}

table#tableshannon{
    border: 2px solid #5E5341;
    border-radius: 8px;
}
table#tableshannon tr td{
     border: 2px solid #5E5341;
     color:#5E5341;
     text-align: center;
     border-radius: 8px;

}

button#register{
    display: flex;
    margin-left: 30%;
    margin-top:-41px;
}
div#linha1{
    width:600px;
    border-top: 1px solid #5E5341;
    position: relative;
    top:80px;
   
}
div#linha2{
    width:500px;
    border-top: 1px solid #5E5341;
    position: relative;
    top:90px;

}

