@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-image: url("background.jpg");
    background-size: cover; 
    min-height: 100vh;
    color:#111f2a;
    width:auto;
  
}
@media (max-width:767.98px){
    body{
      background-image: url("background.jpg");
        height: fit-content;
        min-height: 0vh;
       
       
    }
}


header{
    height:170px;
}
@media (max-width:767.98px){
    header{
        margin: 0 auto;
    }}

@media (max-width:767.98px){
    header{
        height:fit-content;
        width: fit-content;
    
    }

}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:500px;
    height:fit-content;
    background-color:#EDEDE3;
    border-bottom: 3px solid #5E5341;
    border-radius: 100px;

}
@media (max-width:767.98px){
    .menubar{display: flex;
        justify-content: center;
        width: 360px;
        height:130px;
      

    }}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    width:57%;
    right:20px;
}

@media (max-width:767.98px){
    nav#menu1
        {
            width: 100%;
    }}
nav#menu1 li{
    display: inline-block;
    padding-top: 10.01%;
    padding-bottom: 6.07017544%;
    padding-right: 2%;
    
}
@media (max-width:767.98px){
    nav#menu1 li
        {
            width: 25%;
            display: inline-block;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            left:0%;
            
    }}
li#but1{
    position: relative;
    

}
@media (max-width:767.98px){
    li#but1{
        right:80px;
        top:25px;
        padding:0px;
        width: 50px;
    

    }}

li#but2{
    position: relative;
 
}
@media (max-width:767.98px){
    li#but2{
    right:70px; 
    top:25px;
    padding:0px;
     width: fit-content;
       

}}
li#but3{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but3{
       right: 140px;
        top:5px;
        
        padding:0px;
}}

li#but4{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but4{
    right:60px; 
    top:25px;   
        padding:0px;
         width: fit-content;
       
}}



nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
}

.menu li ul{
    position: absolute;
    display: none;
    width: 160%;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    border: 1px solid #5E5341;
    border-radius: 2px;
}
@media (max-width:767.98px){
    .menu li ul{
        position: absolute;
        top: 100%;
        left:0%;
        width: 180px;
        height:30px;
        padding: 0px;

        
    }}

.menu li:hover ul, .menu li.over ul{
    display: block;
   
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    right:25%;
    bottom:3%;
}

.opt{
   font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#5E5341;
}

li#but3.opt1{
    position: relative;
}
@media (max-width:767.98px){
   li#but3.opt1{
        width:180px;
        left:0px;
    }}

.menu a:hover{
    color:green;
}


header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    position: relative;
    width:40px;
    top:57%;
    right:55%;
    z-index: 1;
    background: transparent;
    

}
@media (max-width:767.98px){
    img#leaf{
        right: 25%;
        

    }}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:70%;
   z-index: 1;
}
@media (max-width:767.98px){
    img#leaf2{
        position: relative;
        left:40%;
        margin-right: 10px;
        z-index: 1;
        
    }}
    hr#hr{
    position: relative;
    width:850px;
    bottom:95%;
    opacity: 80%;
    color:#EDEDE3;
}
hr#hr2{
    position: relative;
    width:150%;
    left:10%;
    bottom:97%;
    opacity: 80%;
    color:#EDEDE3;
}
@media (max-width:767.98px){
    hr#hr{
        width:100%;
        position: relative;
        bottom:5px;
        left:12%
    }}

@media (max-width:767.98px){
hr#hr2{
    width:90%;
    position: relative;
    bottom:12px;
    left:12%;

}}





div#main{
    position:relative;
    width:500px;
    height:300px;
    left:22%;
    top:20px;

}

@media (max-width:767.98px){
    div#main{
        width:fit-content;
        left:0px;
        height:fit-content
        
    }
}

.bu{
    position:relative;
    left: 68%;
    bottom:105%;
    width:170px;
    height:50px;
    background-color:#EDEDE3;
    border-radius:20px;
    border: none;
    padding: 10px;


}
@media (max-width:767.98px){
    .bu{
        position:relative;
        left:48%;
        bottom:1.5em;
        width:30%;
        height: 1.5em;
        background-color:#EDEDE3;
        border-radius:5px;
        border: none;
        

    }}

.bu  a{
    position: relative;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size:15pt;
    color:#4b4233;
    padding:15px;
    padding-left: 19px;
    padding-right: 25px;
    left:2%;
      
      
}
@media (max-width:767.98px){
    .bu a{
        position: relative;
        font-size: 1em;
        bottom:0.5em;
           padding:0px;
    padding-left: 0px;
    padding-right: 0px;
        

    }}

.bu:hover{
    background-color:#1c5c03;
   

}
.bu a:hover{
     color:#EDEDE3;
     
}



div#main h1{
    position: relative;
      font-family: 'Source Sans Pro', sans-serif;
    font-size: 80pt;
    right:30px;
    bottom:60px;
    color:#EDEDE3;

}
@media (max-width:767.98px){
    div#main h1{
        font-size:25pt;
        position: relative;
        top:66px;
        left:12%;
    }

}

div#main h2{
    position:relative;
    font-family: 'Source Sans Pro', sans-serif;
    left: 88%;
    bottom:75%;
    font-size: 45pt;
    font-style: initial;
    color:#EDEDE3;

}
@media (max-width:767.98px){
    div#main h2{
        font-size:14pt;
        width:fit-content;
        position: relative;
        left:66%;
        top:0.8em;
    }}


div#main p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20pt;
    position:Relative;
    bottom:100%;
    left: 35%;
    color:#EDEDE3;
    text-align: center;
}
@media (max-width:767.98px){
    div#main p{
        font-size:8pt;
        position: relative;
        left:28%;
        bottom:15px;
        width:70%;
    }}

section{
    position: relative;
    right:4%;

}
@media (max-width:767.98px){
    section{
        margin:0 auto;
        left:2.5%;
    }}