@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-size: 900px;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:#111f2a;
}
@media (max-width:767.98px){
    body{
        margin: 0 auto;
        width: 22.5em;
    }}

header{
    height:170px;
}

@media (max-width:767.98px){
    header{
        height:fit-content;
        width: 100%;
        margin: 0 auto;
    
    }

}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:500px;
    height:fit-content;
    background-color:#EDEDE3;
    border-bottom: 3px solid #5E5341;
    border-radius: 100px;

}
@media (max-width:767.98px){
    .menubar{display: flex;
        justify-content: center;
        width: 100%;
        height:8em;
      

    }}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    width:57%;
    right:20px;
}

@media (max-width:767.98px){
    nav#menu1
        {
            width: 100%;
    }}
nav#menu1 li{
    display: inline-block;
    padding-top: 10.01%;
    padding-bottom: 6.07017544%;
    padding-right: 2%;
    
}
@media (max-width:767.98px){
    nav#menu1 li
        {
            width: 25%;
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 0px;
            padding-right: 0px;
            left:0%;
            
    }}
li#but1{
    position: relative;
    

}
@media (max-width:767.98px){
    li#but1{
        right:80px;
        top:25px;
        padding:0px;
        width: 50px;
    

    }}

li#but2{
    position: relative;
 
}
@media (max-width:767.98px){
    li#but2{
    right:70px; 
    top:25px;
    padding:0px;
     width: fit-content;
       

}}
li#but3{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but3{
       right: 140px;
        top:5px;
        margin-bottom:5%;
}}



li#but5{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but5{
    right:60px; 
    top:25px;   
        padding:0px;
         width: fit-content;}}
       


nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
}

.menu li ul{
    position: absolute;
    display: none;
    width: 160%;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    border: 1px solid #5E5341;
    border-radius: 2px;
    z-index: 2
    ;
}
@media (max-width:767.98px){
    .menu li ul{
        position: absolute;
        top: 100%;
        width:fit-content;
        height:fit-content;
        padding: 0px;
        z-index: 2;

        
    }}

.menu li:hover ul, .menu li.over ul{
    display: block;
   
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    right:25%;
    bottom:3%;
}


.opt{
   font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#5E5341;
}


li#but3.opt1{
    position: relative;
}
@media (max-width:767.98px){
   li#but3.opt1{
        width:180px;
        left:3%;
    }}

.menu a:hover{
    color:green;
}


header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    position: relative;
    width:40px;
    top:57%;
    right:55%;
    z-index: 1;
    background: transparent;
    

}
@media (max-width:767.98px){
    img#leaf{
        right: 25%;
        

    }}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:70%;
   z-index: 1;
}
@media (max-width:767.98px){
    img#leaf2{
        position: relative;
        left:40%;
        margin-right: 10px;
        z-index: 1;
        
    }}
img#fp{
    width:250px;
    border-radius: 50%;
    position:relative;
    left: 100px;
    bottom:30px;
    margin: 5px;
    padding:5px;
    border: 2px solid #5E5341;
    
}
@media (max-width:767.98px){
    img#fp{
        left:12%;
        top: 12px;
        bottom:0px;
    }}

table{
    position: relative;
    width:100%;
    height: fit-content;
    left: 50%;
    bottom:260px;
    color:#5E5341;
    font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width:767.98px){
    table{
        width:200px;
        left:0%;
        top:10%;
        font-size: 10pt;
    }}
table .cd{
    position: relative;
}
@media (max-width:767.98px){
    table .cd{
        text-align: right;
        left:20%;
      
    }}
    table .ce{
    position: relative;
    font-weight: bolder;
}
@media (max-width:767.98px){
    table .ce{
        font-weight: bolder;
      
    }}

td#nome{
    position: relative;
}
@media (max-width:767.98px){
    td#nome{
        font-size: 10.5pt;
    }}


div#profile{
    position: relative;
    border-bottom: 1px solid #CCB78C;
    height: 16.5em;
    bottom:4em;
    right:0.5em;
    width:94%;
    padding-right: 42%;

}
@media (max-width:767.98px){
    div#profile{
        left:0%;
        height:18em;
        bottom:4.5em;
        width:100%;
        padding-right: 0%;
    }}



.cd:hover{
    font-weight: bold;
}
div#main{
    position: relative;
    bottom:4em;
}
@media (max-width:767.98px){
    div#main{
        width: 22.8em;
        top:5em;
        bottom:0em;
        left:0%;
    }}
a#git{
    text-decoration: none;
        color:#5E5341;
}

div#estudos{
    width:24em

}
@media (max-width:767.98px){
    div#estudos{
        width: 100%;
        left:45%;
        font-size: 10pt;
    }}
div#cursos{
    position: relative;
    width:24em

}
@media (max-width:767.98px){
    div#cursos{
        font-size: 10pt;
        width:27.5em
    }}
    div#intereses{
    position: relative;
    width:24em

}
@media (max-width:767.98px){
    div#intereses{
        font-size: 10pt;
            width: 27.4em;
    }}

div#experiencia{
    position: relative;
    left:50%;
    width:24em;
    bottom:50.4em;
}
@media (max-width:767.98px){
    div#experiencia{
        font-size: 10pt;
        left:0%;
        width:27.5em;
        bottom:0;
    }}


table#testudos1{
    display:none;
    width:100%;
    left:0%;
    text-align: left;
    height: fit-content;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;

}
@media (max-width:767.98px){
    table#testudos1{
        width:100%;
        margin-left:5%;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#testudos1 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#testudos1 .ce {
    font-weight: bold;
  
}

h2#testu1:hover table#testudos1, h2#testu1.over table#testudos1{
    display: block;
   
}
h2#testu1{
    font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:40%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;
}
@media (max-width:767.98px){
    h2#testu1{
        right:0%;
        width: 100%;
        font-size: 12pt;
    }}

#testudos1 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#testudos1 .ce {
    font-weight: bold;
}

table#testudos2{
  display:none;
    width:100%;
      left:0%;
    text-align: left;
    height: fit-content;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#testudos2{
        width:fit-content;
            margin-left:5%;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#testudos2 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#testudos2 .ce {
    font-weight: bold;
  
}
h2#testu2{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#testu2{
        right:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#testu2:hover table#testudos2, h2#testu2.over table#testudos2{
    display: block;
   
}

h1#titulo1{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    background-color:#CCB78C;
    text-align: center;
    border-radius: 20px;
}
@media (max-width:767.98px){
    h1#titulo1{
        width:100%;

    }}


h2#testu1{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}

h1#titulo2{
    font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    background-color:#CCB78C;
    text-align: center;
    position: relative;

    border-radius:20px;
}
@media (max-width:767.98px){
    h1#titulo2{
        width:100%;
        
    }}

table#cursos1{
  display:none;
    width:100%;
    text-align: left;
    height: fit-content;
      left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos1{
        width:fit-content;
              margin-left:5%;
        font-size: 9pt;
        position: relative;
        border: none;
    
    }}
#cursos1 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos1 .ce {
    font-weight: bold;
    
  
}
h2#curso1{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#curso1{
        left:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#curso1:hover table#cursos1, h2#curso1.over table#cursos1{
    display: block;
   
}
table#cursos2{
    display:none;
    width:100%;
    text-align: left;
    height: fit-content;
      left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos2{
        width:fit-content;
              margin-left:5%;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#cursos2 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos2 .ce {
    font-weight: bold;
    
  
}
h2#curso2{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;

}
@media (max-width:767.98px){
    h2#curso2{
       left:0%;
        width: 100%;
        font-size: 12pt;
    }}

h2#curso2:hover table#cursos2, h2#curso2.over table#cursos2{
    display: block;
   
}
table#cursos3{
  display:none;
    width:100%;
    text-align: left;
      left:0%;
    height: fit-content;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos3{
        width:fit-content;
              margin-left:5%;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#cursos3 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos3 .ce {
    font-weight: bold;
    
  
}
h2#curso3{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;

}
@media (max-width:767.98px){
    h2#curso3{
     left:0%;
        width: 100%;
        font-size: 12pt;
    }}

h2#curso3:hover table#cursos3, h2#curso3.over table#cursos3{
    display: block;
   
}
table#cursos4{
  display:none;
    width:100%;
          margin-left:5%;
    text-align: left;
    height: fit-content;
  left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos4{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#cursos4 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos4 .ce {
    font-weight: bold;
    
  
}
h2#curso4{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
       width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;

}
@media (max-width:767.98px){
    h2#curso4{
      left:0%;
        width: 100%;
        font-size: 12pt;
    }}

h2#curso4:hover table#cursos4, h2#curso4.over table#cursos4{
    display: block;
   
}
table#cursos5{
  display:none;
    width:100%;
    text-align: left;
    height: fit-content;
          margin-left:5%;
     left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos5{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
    }}
#cursos5 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos5 .ce {
    font-weight: bold;
    
  
}
h2#curso5{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
       width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;

}
@media (max-width:767.98px){
    h2#curso5{
     left:0%;
        width: 100%;
        font-size: 12pt;
    }}

h2#curso5:hover table#cursos5, h2#curso5.over table#cursos5{
    display: block;
   
}
table#cursos6{
     display:none;
    width:100%;
          margin-left:5%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#cursos6{
        width:fit-content;

        font-size: 9pt;
        position: relative;
        border: none;
    }}
#cursos6 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#cursos6 .ce {
    font-weight: bold;

}
h2#curso6{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;

}
@media (max-width:767.98px){
    h2#curso6{
      left:0%;
        width: 100%;
        font-size: 12pt;
    }}

h2#curso6:hover table#cursos6, h2#curso6.over table#cursos6{
    display: block;
   
}
h1#titulo3{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    background-color:#CCB78C;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
@media (max-width:767.98px){
     h1#titulo3{
        width:100%;
        left:0%;
        

    }}

ul#interes{
   font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    position: relative;
    right:0%;
    width:76%;
    height:fit-content;
    list-style-type: none;
    font-weight: normal;
    text-align: center;
}

@media (max-width:767.98px){
    ul#interes{
        width: 100%;
        text-align: center;
        bottom:2em;
        right:12%;
    
    
    }}

ul#interess:hover{
    font-weight: bold;
    
}
.list{
    position: relative;
    top:25px;

}

.list:hover{
   font-weight: bold;
}

section{
    width:950px;
}
@media (max-width:767.98px){
    section{
        width:100%;
    }}


table#experiencias1{
     display:none;
    width:100%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#experiencias1{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
        margin-right: 13%;
    }}
#experiencias1 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#experiencias1 .ce {
    font-weight: bold;
    
  
}
h2#experiencia1{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
     width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#experiencia1{
        left:0%;
        width: 100%;
        font-size: 12pt;
       
    }}
h2#experiencia1:hover table#experiencias1, h2#experiencia1.over table#experiencias1{
    display: block;
   
}
h1#titulo4{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    background-color:#CCB78C;
    text-align: center;
    position: relative;
    border-radius: 20px;
}
@media (max-width:767.98px){
     h1#titulo4{
        width:100%;
        left:0%;
        

    }}
table#experiencias2{
     display:none;
    width:100%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#experiencias2{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
        margin-right: 13%;
    }}
#experiencias2 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#experiencias2 .ce {
    font-weight: bold;
    
  
}
h2#experiencia2{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
     width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#experiencia2{
         left:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#experiencia2:hover table#experiencias2, h2#experiencia2.over table#experiencias2{
    display: block;
   
}
table#experiencias3{
     display:none;
    width:100%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    
    

}
@media (max-width:767.98px){
    table#experiencias3{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
         margin-right: 13%;
    }}
#experiencias3 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#experiencias3 .ce {
    font-weight: bold;
    
  
}
h2#experiencia3{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#experiencia3{
      left:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#experiencia3:hover table#experiencias3, h2#experiencia3.over table#experiencias3{
    display: block;
   
}
table#experiencias4{
     display:none;
    width:100%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#experiencias4{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
         margin-right: 13%;
    }}
#experiencias4 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#experiencias4 .ce {
    font-weight: bold;
    
  
}
h2#experiencia4{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
       width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#experiencia4{
   left:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#experiencia4:hover table#experiencias4, h2#experiencia4.over table#experiencias4{
    display: block;
   
}
table#experiencias5{
     display:none;
    width:100%;
    text-align: left;
    height: fit-content;
   left:0%;
    top:0px;
    color:#5E5341;
    border-radius: 3px;
    font-size: 12pt;
    

}
@media (max-width:767.98px){
    table#experiencias5{
        width:fit-content;
        font-size: 9pt;
        position: relative;
        border: none;
         margin-right: 13%;
    }}
#experiencias5 .cd {
    position: relative;
    left:40px;
    color: #5E5341;
    font-weight: lighter;
}
#experiencias5 .ce {
    font-weight: bold;
    
  
}
h2#experiencia5{
     font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
      width:100%;
    position:relative;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;


}
@media (max-width:767.98px){
    h2#experiencia5{
   left:0%;
        width: 100%;
        font-size: 12pt;
    }}
h2#experiencia5:hover table#experiencias5, h2#experiencia5.over table#experiencias5{
    display: block;
   
}
