@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-image: url("background.jpg");
    background-size: cover; 

    color:#111f2a;
    width:99%;
    height: 42em;
  
}
@media (max-width:767.98px){
    body{
    background-image: url( "background.jpg");
    height: 100%;
    width: 96%;
    min-height: 0vh;

    }
}


header{
    height:8.2em;
    width:38%;
}

@media (max-width:767.98px){
    header{
      height:fit-content;
        width: 100%;
        margin: 0 auto;
    }

}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:28em;
    height:fit-content;
    background-color:#EDEDE3;
    border-bottom: 3px solid #5E5341;
    border-radius: 100px;

}
@media (max-width:767.98px){
    .menubar{display: flex;
        justify-content: center;
        width: 100%;
        height:8em;
      

    }}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    width:57%;
    right:20px;
}

@media (max-width:767.98px){
    nav#menu1
        {
            width: 100%;
    }}
nav#menu1 li{
    display: inline-block;
    padding-top: 10.01%;
    padding-bottom: 6.07017544%;
    padding-right: 2%;
    
}
@media (max-width:767.98px){
    nav#menu1 li
        {
            width: 25%;
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 0px;
            padding-right: 0px;
            left:0%;
            
    }}
li#but1{
    position: relative;
    

}
@media (max-width:767.98px){
    li#but1{
        right:80px;
        top:25px;
        padding:0px;
        width: 50px;
    

    }}

li#but2{
    position: relative;
 
}
@media (max-width:767.98px){
    li#but2{
    right:70px; 
    top:25px;
    padding:0px;
     width: fit-content;
       

}}
li#but3{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but3{
       right: 140px;
        top:5px;
        margin-bottom:5%;
}}



li#but5{
    position: relative;
    
}

 @media (max-width:767.98px){
li#but5{
    right:60px; 
    top:25px;   
        padding:0px;
         width: fit-content;}}
       


nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
}

.menu li ul{
    position: absolute;
    display: none;
    width: 160%;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    border: 1px solid #5E5341;
    border-radius: 2px;
}
@media (max-width:767.98px){
    .menu li ul{
        position: absolute;
        top: 100%;
        left:0%;
        width:fit-content;
        height:fit-content;
        padding: 0px;
        z-index: 2;

        
    }}

.menu li:hover ul, .menu li.over ul{
    display: block;
   
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
   font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    right:25%;
    bottom:3%;
}

.opt{
   font-family: 'Source Sans Pro', sans-serif;
    color:#5E5341;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#5E5341;
}

li#but3.opt1{
    position: relative;
}
@media (max-width:767.98px){
   li#but3.opt1{
        width:180px;
        left:3%;
    }}


.menu a:hover{
    color:green;
}


header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    position: relative;
    width:40px;
    top:57%;
    right:55%;
    z-index: 1;
    background: transparent;
    

}
@media (max-width:767.98px){
    img#leaf{
        right: 25%;
        

    }}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:70%;
   z-index: 1;
}
@media (max-width:767.98px){
    img#leaf2{
        position: relative;
        left:40%;
        margin-right: 10px;
        z-index: 1;
        
    }}
    hr#hr{
     position: relative;
    width: 80%;
    bottom: 100%;
    opacity: 80%;
    color: #EDEDE3;
}
hr#hr2{
       position: relative;
    width: 75%;
    bottom: 102%;
    opacity: 80%;
    color: #EDEDE3;
}
@media (max-width:767.98px){
    hr#hr{
    width: 85%;
    position: relative;
    bottom: 0.4em;

      
    }}

@media (max-width:767.98px){
hr#hr2{
width: 71%;
    position: relative;
    bottom: 0.8em;


}}





div#main{
    position: relative;
    width: 100%;
    height: 50%;
    top: 30%;

}

@media (max-width:767.98px){
    div#main{
    width: 100%;
    left: 0px;
    height: 100%;

        
    }
}

.bu{
position: relative;
    left: 45%;
    bottom: 105%;
    width: 12%;
    height: 3em;
    background-color: #EDEDE3;
    border-radius: 10px;
    border: none;
    padding: 10px;


}
@media (max-width:767.98px){
    .bu{
    position: relative;
    left: 37%;
    bottom: 1.5em;
    width: 25%;
    height: 1em;
    background-color: #EDEDE3;
    border-radius: 5px;
    border: none;

        

    }}

.bu  a{
    position: relative;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size:15pt;
    color:#4b4233;
    padding:15px;
    padding-left: 19px;
    padding-right: 25px;
    left:2%;
      
      
}
@media (max-width:767.98px){
    .bu a{
        position: relative;
        font-size: 1em;
        bottom:0.5em;
           padding:0px;
    padding-left: 0px;
    padding-right: 0px;
        

    }}

.bu:hover{
    background-color:#1c5c03;
   

}
.bu a:hover{
     color:#EDEDE3;
     
}



div#main h1{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80pt;
    left: 15%;
    top: 296%;
    color: #EDEDE3;
    width: fit-content;
}

@media (max-width:767.98px){
    div#main h1{
    font-size: 25pt;
    position: relative;
    top: 1.9em;
    left: 10%;
    width: 39%;
    }

}

div#main h2{
     position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    left: 55%;
    bottom: -1%;
    font-size: 42pt;
    font-weight: bolder;
    color: #EDEDE3;
    width: fit-content;

}
@media (max-width:767.98px){
    div#main h2{
    font-size: 14pt;
    width: fit-content;
    position: relative;
    left: 54%;
    top: 0.7em;
    }}


div#main p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15pt;
    position: Relative;
    bottom: 106%;
    color: #EDEDE3;
    text-align: center;
}
@media (max-width:767.98px){
    div#main p{
    font-size: 7pt;
    position: relative;
    left: 1%;
    bottom: 2em;
    width: 100%;
    }}

section{
      position: relative;
    bottom: 8em;
    right: 0%;
    width: 100%;
    height: 7em;

}
@media (max-width:767.98px){
    section{
    margin: 0 auto;
    left: 0%;
    width: 100%;
    height: 100%;
    bottom: 0em;
    }}