@charset "UTF-8";


body
{
    background-color:#EDEDE3;
    background-size: 900px;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:#111f2a;
}
header{
    height:170px;
}
.menubar{
    display: flex;
    justify-content: center;
    position: relative;
    width:500px;
    height:80px;
    background-color:#EDEDE3;
    left: 800px;
    border-bottom: 2px solid #5E5341;
    border-radius: 35px;

}
nav#menu1{
    list-style: none;
    position: relative;
    text-align: center;
    right:20px;



}
nav#menu1 li{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 23px;
    padding-right: 20px;
}

nav#menu1 li:hover{
    text-decoration: none;
    transition: 0.2s;
    color:#308a0c;
}

.menu li ul{
    position: absolute;
    display: none;
    text-align: right;
    background-color: #E1DCC6;
    font-style: none;
    top:78px;
    height: 40px;
    width: fit-content;
    border: 1px solid #5E5341;
    border-radius: 2px;
}
.menu li:hover ul, .menu li.over ul{
    display: block;
   
}
.menu li ul li{
    display: block;
}

.opt1{
    position:relative;
    color:#5E5341;
    height:fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom:8px;
    right:40px;
    
}


.opt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    font-weight: bolder;

}
.menu a{
    text-decoration: none;
    color:#5E5341;
}

.menu a:hover{
    color:green;
}

hr#hr{
    position: relative;
    width:850px;
    bottom:300px;
    opacity: 80%;
    color:#EDEDE3;
}



header{
    padding:0px;
    position:Relative;
    bottom:70px;
}
img#leaf{
    position: relative;
    width:40px;
    top:75px;
    left:830px;
    z-index: 2;
    background: transparent;
    

}
img#leaf2{
    width:40px;
    position: relative;
    top:75px;
    left:1165px; 
   z-index: 2
   ;
}
img#fp{
    width:250px;
    border-radius: 50%;
    position:relative;
    left: 100px;
    bottom:30px;
    margin: 5px;
    padding:5px;
    border: 2px solid #5E5341;
    
}
table{
    position: relative;
    width:500px;
    height: 150px;
    left: 500px;
    bottom:260px;
    color:#5E5341;
}

div#profile{
    position: relative;
    border-bottom: 1px solid #CCB78C;
    height: 260px;
    bottom:80px;
}

.ce{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:#5E5341;
}
.cd{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    left:200px;
    color: #5E5341;
    font-weight: lighter;

}

.cd:hover{
    font-weight: bold;
}
div#main{
    position: relative;
    bottom:90px;

}
a#git{
    text-decoration: none;
        color:#5E5341;
}

table#testudos1{
    position: relative;
    width:500px;
    height: 150px;
    left: 0px;
    top:0px;
    color:#5E5341;
    border: 1px solid #CCB78C;
    border-radius: 5px;
    

}
#testudos1 .cd {
    position: relative;
    left:50px;
    color: #5E5341;
}

table#testudos2{
    position: relative;
    width:500px;
    height: 150px;
    left: 0px;
    top:0px;
    color:white;
    border: 1px solid #CCB78C;
    top:20px;
    border-radius: 2px;
    

}
#testudos2 .cd {
    position: relative;
    left:50px;}

h1#titulo1{
    font-family: Arial, Helvetica, sans-serif;
    color:#5E5341;
    width:500px;

    position:relative;
    background-color:#CCB78C;
    text-align: center;
    border-radius: 20px;
}
h1#titulo2{
    font-family: Arial, Helvetica, sans-serif;
    color:#5E5341;
    width:500px;
    background-color:#CCB78C;
    text-align: center;
    position: relative;
    left: 830px;
    bottom:580px;
    border-radius:20px;
}

table#cursos1{
    position: relative;
    width:500px;
    height: 150px;
    left: 830px;
    bottom:585px;
    color:#5E5341;
    border: 1px solid #CCB78C;
    border-radius: 2px;

    

}
#cursos1 .cd {
    position: relative;
    left:-30px;
    color:#5E5341;
}
    
table#cursos2{
    position: relative;
    width:500px;
    height:150px;
    left: 830px;
    bottom:565px;
    color:white;
    border: 1px solid #CCB78C;
    border-radius: 2px;

    
}
#cursos2 .cd {
    position: relative;
    left:0px;}

table#cursos3{
    position: relative;
    width:500px;
    height:150px;
    left: 830px;
    bottom:545px;
    color:white;
    border: 1px solid #CCB78C;
    border-radius: 2px;
    
}
#cursos3 .cd {
    position: relative;
    left:0px;}

table#cursos4{
    position: relative;
    width:500px;
    height: 150px;
    left: 830px;
    bottom:525px;
    color:white;
     border: 1px solid #CCB78C;
    border-radius: 2px;

    
}
#cursos4 .cd {
    position: relative;

    left:-30px;}

table#cursos5{
    position: relative;
    width:500px;
    height: 150px;
    left: 830px;
    bottom:505px;
    color:white;
     border: 1px solid #CCB78C;
    border-radius: 2px;

    
}
#cursos5 .cd {
    position: relative;
    left:-30px;}

table#cursos6{
    position: relative;
    width:500px;
    height: 150px;
    left: 830px;
    bottom:485px;
    color:white;
    border: 1px solid #CCB78C;
    border-radius: 2px;

    
}
#cursos6 .cd {
    position: relative;
    left: -48px;}

h1#titulo3{
    font-family: Arial, Helvetica, sans-serif;
    color:#5E5341;
    width:300px;
    background-color:#CCB78C;
    text-align: center;
    position: relative;
    left: 516px;
    bottom:368px;
    border-radius: 20px;
}
ul#interes{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#5E5341;
    position: relative;
    width:255px;
    height:141px;
    left:516px;
    bottom:367px;
    border: 1px solid #CCB78C;
    border-radius: 2px;
    list-style-type: none;
    font-weight: lighter;
}
ul#interess:hover{
    font-weight: bolder;
    
}
.list{
    position: relative;
    top:25px;

}

.list:hover{
   font-weight: bolder;
}
